version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: okoce_user
      POSTGRES_PASSWORD: okoce_password
      POSTGRES_DB: okoce_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 
  
  web:
    build: .
    restart: always
    ports:
      - "8002:8000"
    environment:
      - DATABASE_URL=postgresql://okoce_user:okoce_password@db:5432/okoce_db
      - FLASK_APP=app.py
      - FLASK_DEBUG=1
      - PUBLIC_API_KEY=okoce-secret-api-key-123
    depends_on:
      - db 
    volumes:
      - .:/app
      - ./uploads:/app/uploads
      - ./firebase-service-account-key.json:/app/firebase-service-account-key.json

volumes:
  postgres_data: